/* ========== DETAIL PRODUK ========== */
.product-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem auto;
    background: #fff;
    border-radius: 12px;
    padding: 40px 40px;
    margin: 40px 35px;
    border: 1px solid #ececec;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.10);
}

/* =====================================================
    IMAGE SECTION
===================================================== */
.product-image img {
    width: 420px;
    max-width: 100%;
    border-radius: 12px;
    object-fit: cover;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
    /* box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08); */
}

/* =====================================================
    PRODUCT INFO SECTION
===================================================== */
.product-info {
    flex: 1;
    min-width: 320px;
}

/* Title */
.product-title {
    font-size: 1.9rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 0.35rem;
}

/* Price */
.product-price {
    color: #1e3a8a;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
}

/* Description */
.product-desc {
    margin-bottom: 1.4rem;
    font-size: 0.97rem;
    line-height: 1.55;
    color: #555;
}


/* =====================================================
    BUTTONS
===================================================== */
.product-actions {
    margin-top: 1.6rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
    transition: 0.25s;
}

/* Primary Button */
.btn-primary {
    background-color: #1e3a8a;
    color: #fff;
    border: none;
}

.btn-primary:hover {
    background-color: #324fd1;
}

/* Outline Button */
.btn-outline {
    background-color: transparent;
    border: 2px solid #1e3a8a;
    color: #1e3a8a;
}

.btn-outline:hover {
    background-color: #1e3a8a;
    color: #fff;
}

