/* ==== PROFILE CONTAINER ==== */
.profile-card-profile {
    width: 100%;
    max-width: 1150px;
    margin: 40px auto;
    background: #ffffff;
    border-radius: 0.7rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    /* shadow-sm */
    padding: 50px 70px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

/* ==== HEADER ==== */
.profile-header-profile {
    text-align: center;
    margin-bottom: 45px;
}

.profile-avatar-profile {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: linear-gradient(135deg, #598cdf, #764ba2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-weight: 600;
    color: #fff;
    margin: 0 auto 15px;
    box-shadow: 0 1px 2px rgba(118, 75, 162, 0.4);
    /* box-shadow: 0 5px 20px rgba(118, 75, 162, 0.4); */
}

.profile-name-profile {
    font-size: 26px;
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.profile-role-profile {
    font-size: 15px;
    color: #777;
    font-style: italic;
}

/* ==== FORM ==== */
.profile-card-profile form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 40px;
}

.form-group-profile {
    display: flex;
    flex-direction: column;
}

.form-group-profile label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin-bottom: 6px;
}

.form-group-profile input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 15px;
    color: #333;
    outline: none;
    transition: all 0.25s ease;
}

.form-group-profile input:focus {
    border-color: #667eea;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.2);
}

/* ==== BUTTON ==== */
.btn-profile {
    grid-column: span 2;
    background: linear-gradient(135deg, #495ab3, #345597);
    color: #fff;
    border: none;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
}

.btn-profile:hover {
    background: linear-gradient(135deg, #495ab3, #345597);
    transform: scale(1.01);
}

/* ==== RESPONSIVE ==== */
@media (max-width: 900px) {
    form {
        grid-template-columns: 1fr;
    }

    .btn {
        grid-column: span 1;
    }

    .profile-card {
        padding: 40px 30px;
        max-width: 95%;
    }
}