.btn-kembali {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* ukuran tombol */
    height: 40px;
    background-color: #8dc3fc;
    border-radius: 50%; /* bikin tombol bulat */
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* shadow-sm */
}

.btn-kembali:hover {
    background-color: #8dc3fc;
    transform: scale(1.05);
}

.btn-icon-kembali {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1); /* ubah icon jadi putih */
}

